{% extends 'base.html' %}

{% block title %}
{{object.name}} -
{% if 'expense' in request.path %}
expense details
{% else %}
income details
{% endif %}
{% endblock %}

{% block content %}
<h1>{{ object.name }}</h1>
<br>
<h3>{{ object.amount|floatformat:2 }}</h3>
<br>
{{ object.category }} - {{ object.transaction_date }}<br>
<hr>
<h4>{{ object.description }}</h4>
<hr>
{% if object.notes %}
{{ object.notes}}
{% endif %}


{% if 'expense' in request.path %}
<div id="mapid">
</div>
<style>#mapid { height: 700px; }</style>
<script>
    var mymap = L.map('mapid').setView([{{object.lat}}, {{object.lon}}], 13);
L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoiZHJhY2hhbCIsImEiOiJja29zcW1qenkwNDI2MnVsazFwYXY4b3BxIn0.k5igjjFEHozuYAy5b07ITg'
}).addTo(mymap);
L.marker([{{object.lat}}, {{object.lon}}]).addTo(mymap)
    .bindPopup('{{object.lat}}, {{object.lon}}').openPopup();
</script>
{% endif %}

<br><br>
{% if 'expense' in request.path %}
<a href="{% url 'update_expense' object.id %}" class="btn btn-primary">Edit</a>
<a href="{% url 'delete_expense' object.id %}" class="btn btn-warning">Delete</a>
{% else %}
<a href="{% url 'update_income' object.id %}" class="btn btn-primary">Edit</a>
<a href="{% url 'delete_income' object.id %}" class="btn btn-warning">Delete</a>
{% endif %}

{% endblock %}